In [48]:
import pandas as ps
import json 
import csv
import requests

import spotipy 
import spotipy.util as util
from spotipy.oauth2 import SpotifyClientCredentials

In [58]:
CLIENT_ID = 'a52cdf425d8f437a814be211f4f50846' 
CLIENT_SECRET = '3980dc86e00c4233be6218b08de84749'

client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret) 
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

AUTH_URL ="https://accounts.spotify.com/api/token"
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': CLIENT_ID,
    'client_secret': CLIENT_SECRET,
})

#Convert response to JSON
auth_response_data = auth_response.json()

#Save the access token
access_token = auth_response_data['access_token']

#Need to pass access token into header to send properly formed GET request to API server
headers = {
    'Authorization': 'Bearer {token}'.format(token=access_token)
}
sp=spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id="CLIENT_ID",client_secret="CLIENT_SECRET"))

BASE_URL = 'https://api.spotify.com/v1/'

In [50]:

df1 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory0.json')
df2 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory1.json')
df3 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory2.json')
df4 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory3.json')
df5 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory4.json')
df6 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory5.json')
df7 = ps.read_json(r'/Users/sabaamiri/Downloads/1 2/StreamingHistory6.json')

df = ps.concat([df1,df2,df3,df4,df5,df6,df7])

df.to_csv(r'/Users/sabaamiri/Downloads/1 2/StreamingHistoryEditedComplete.csv')

In [51]:
new_df = ps.read_csv(r'/Users/sabaamiri/Downloads/1 2/StreamingHistoryEditedComplete.csv')

In [52]:
new_df.head()

,Unnamed: 0,endTime,artistName,trackName,msPlayed
0,0,2021-05-02 08:33,Drake,U With Me?,221294
1,1,2021-05-02 08:56,AJ Tracey,Coupé (feat. Kehlani),159000
2,2,2021-05-02 08:57,Billie Eilish,Your Power,2304
3,3,2021-05-02 08:57,Saweetie,Risky (feat. Drakeo the Ruler),1536
4,4,2021-05-02 08:57,Drake,Crew Love,2176

In [53]:
new_df['userId']="1"

In [54]:
new_df.head(60000)

,Unnamed: 0,endTime,artistName,trackName,msPlayed,userId
0,0,2021-05-02 08:33,Drake,U With Me?,221294,1
1,1,2021-05-02 08:56,AJ Tracey,Coupé (feat. Kehlani),159000,1
2,2,2021-05-02 08:57,Billie Eilish,Your Power,2304,1
3,3,2021-05-02 08:57,Saweetie,Risky (feat. Drakeo the Ruler),1536,1
4,4,2021-05-02 08:57,Drake,Crew Love,2176,1
...,...,...,...,...,...,...
59995,9995,2022-04-08 06:01,Jack Harlow,First Class,51648,1
59996,9996,2022-04-08 06:02,Omah Lay,Damn (feat. 6lack),24405,1
59997,9997,2022-04-08 06:02,DESTIN CONRAD,UNPREDICTABLE,37952,1
59998,9998,2022-04-08 06:03,Fivio Foreign,Changed On Me (feat. Vory & Polo G),10688,1
59999,9999,2022-04-08 06:03,Charlie Puth,That's Hilarious,6506,1

In [55]:

new_df['songArtistID'] = new_df['artistName'] + ":" + new_df['trackName']

In [56]:
new_df.head(60000)

,Unnamed: 0,endTime,artistName,trackName,msPlayed,userId,songArtistID
0,0,2021-05-02 08:33,Drake,U With Me?,221294,1,Drake:U With Me?
1,1,2021-05-02 08:56,AJ Tracey,Coupé (feat. Kehlani),159000,1,AJ Tracey:Coupé (feat. Kehlani)
2,2,2021-05-02 08:57,Billie Eilish,Your Power,2304,1,Billie Eilish:Your Power
3,3,2021-05-02 08:57,Saweetie,Risky (feat. Drakeo the Ruler),1536,1,Saweetie:Risky (feat. Drakeo the Ruler)
4,4,2021-05-02 08:57,Drake,Crew Love,2176,1,Drake:Crew Love
...,...,...,...,...,...,...,...
59995,9995,2022-04-08 06:01,Jack Harlow,First Class,51648,1,Jack Harlow:First Class
59996,9996,2022-04-08 06:02,Omah Lay,Damn (feat. 6lack),24405,1,Omah Lay:Damn (feat. 6lack)
59997,9997,2022-04-08 06:02,DESTIN CONRAD,UNPREDICTABLE,37952,1,DESTIN CONRAD:UNPREDICTABLE
59998,9998,2022-04-08 06:03,Fivio Foreign,Changed On Me (feat. Vory & Polo G),10688,1,Fivio Foreign:Changed On Me (feat. Vory & Polo G)
59999,9999,2022-04-08 06:03,Charlie Puth,That's Hilarious,6506,1,Charlie Puth:That's Hilarious

In [65]:
new_df['track_id'] =  sp.search(q='track:' + searchOnSpotify[0] + ' artist:' + searchOnSpotify[1], limit=1,  type='track')

NameError: name 'searchOnSpotify' is not defined